/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #fffef8;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  background: none;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  padding: 0 20px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
  transition: color 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  #introduction {
    flex-direction: column;
    gap: 20px;
  }
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio {
  position: relative;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

/* categories style DÉBUT */

.categories {
  width: 585px;
  display: flex;
  margin: 0 auto;
  gap: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.categories__items {
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.625rem;
  border: 1px solid #1d6154;
  color: #1d6154;
  border-radius: 25px;
  cursor: pointer;
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.categories__items:hover {
  background-color: #1d6154;
  color: #fff;
}
.categories__items:first-child {
  flex: 1;
}

.categories__items:nth-child(2) {
  flex: 1;
}

.categories__items span {
  font-size: 1rem;
  font-weight: 700;
  line-height: 19.2px;
  font-family: "Syne";
}

.categories__items.active {
  background-color: #1d6154;
  color: #fff;
}

/* categories style FIN */

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media (max-width: 1024px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}

.gallery img {
  width: 100%;
}
#contact {
  width: 379px;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact input,
.btn {
  height: 50px;
  font-size: 1em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact .btn {
  height: 36px;
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.btn,
input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn:hover,
input[type="submit"]:hover {
  color: #1d6154;
  background-color: #fff;
  border: 1px solid #1d6154 !important;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

footer nav ul li {
  font-family: "Work Sans";
  font-weight: 300;
  font-size: 14px;
  line-height: 16.42px;
}
footer .small {
  position: fixed;
  bottom: 3.8%;
}

/* loginPage style DÉBUT */

.containerLog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerLog h2 {
  text-align: center;
  text-transform: capitalize;
}

.containerLog form {
  display: flex;
  flex-direction: column;
}

#contact label {
  text-align: start;
}

.containerLog span {
  text-decoration: underline;
}

.containerLog span:hover {
  text-decoration: none;
}

/* Styles pour la div d'erreur */
.error-message {
  margin: 2em 0 1em 0;
  height: 50px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff7c80;
  background-color: #fde4e4;
}

.error-message span {
  color: #c8030d;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

/* loginPage style FIN */

/* Styles pour la div bannière de modification DEBUT*/
.banner-edit {
  position: fixed;
  z-index: 150;
  inset: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  user-select: none;
  clip-path: inset(0px 0px 100%);
}

.banner-edit span {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.77px;
  position: relative;
}

.banner-edit span::before {
  position: absolute;
  display: block;
  content: "\f044";
  font-family: "Font Awesome 6 Free";
  top: 50%;
  left: -25%;
  transform: translateY(-50%);
}
/* Styles pour la div bannière de modification FIN */

/* Styles pour la div contenant le button de modification DEBUT*/
.btn-container {
  position: absolute;
  top: 0;
  right: 30%;
  transform: translateY(25%);
}

.btn-container button {
  border: none;
  cursor: pointer;
}

.btn-container button > span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  font-family: "Work Sans";
  position: relative;
}

.btn-container button > span::before {
  position: absolute;
  display: block;
  content: "\f044";
  font-family: "Font Awesome 6 Free";
  top: 50%;
  left: -50%;
  transform: translate(50%, -50%);
}
/* Styles pour la div contenant le button de modification FIN*/

/* Styles pour la modale et son contenu FIN*/
.modal {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.modal-wrapper {
  width: 630px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.btn-modal {
  cursor: pointer;
  border: none;
  color: #000;
  font-size: 1rem;
  position: relative;
  z-index: 100;
}

.toggle-opacity {
  opacity: 0;
}

.title-wrapper {
  text-align: center;
}

.title-wrapper span {
  font-family: "Work Sans";
  font-size: 26px;
  font-weight: 400;
  line-height: 30.5px;
  color: #000;
}

.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  padding: 50px 0;
  margin: 0 100px;
}

.gallery-wrapper figure {
  width: 75px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}

.gallery-wrapper figure > img {
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.gallery-wrapper figure > button {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  width: 17px;
  height: 17px;
  border-radius: 2px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-wrapper figure > button::before {
  position: absolute;
  display: block;
  content: "\f2ed";
  font-family: "Font Awesome 6 Free";
  font-size: 10px;
  font-weight: bold;
  color: #fff;
}

.divider {
  margin-left: auto;
  margin-right: auto;
  max-width: 420px;
  width: 100%;
}

.divider__line {
  background-color: #b3b3b3;
  display: flex;
  height: 1px;
  width: 100%;
  border: none;
}

.button-wrapper {
  text-align: center;
}

.button-wrapper button {
  height: 36px;
  width: 237px;
}

.homepage-edit2 {
  position: absolute;
  inset: 0px;
  z-index: 50;
  clip-path: inset(0 0 100% 0);
  background-color: #fff;
  margin-top: 61.2px;
  height: 600px;
}

.add-picture-wrapper {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 170px;
  margin: 30px auto 0px auto;
  border-radius: 3px;
  background-color: #e8f1f6;
}

.icon-wrapper {
  width: 76px;
  height: 76px;
  margin: 20px auto 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapper i {
  color: #b9c5cc;
  font-size: 80px;
}

.modal form {
  display: flex;
  flex-direction: column;
  width: 420px;
  margin: 0 auto 40px auto;
}

.modal form > label {
  margin: 2em 0 1em 0;
}

.modal form > input {
  height: 50px;
  font-size: 1em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.modal form > select {
  height: 50px;
  font-size: 1em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  background-color: #fff;
  color: #6c6c6c;
  cursor: pointer;
}

.form-upload {
  text-align: center;
}

.form-upload span {
  font-family: "Work Sans";
  font-size: 10px;
  font-weight: 400;
  line-height: 11.73px;
  color: #306685;
}

.form-upload button {
  width: 175px;
  height: 33px;
  background-color: #cbd6dc;
  margin: 0 auto 5px auto;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
}

.form-upload button:hover > span {
  border-bottom: 1px solid #306685;
}

.form-upload button > span {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 16.42px;
  color: #306685;
}
